{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 120,
    "proseWrap": "always",
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
