---
import { getCollection } from 'astro:content';
import ArticlesList from '../components/ArticlesList.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Newsletter from '../components/Newsletter.astro';
import Projects from '../components/Projects.astro';
import SiteLayout from '../layouts/SiteLayout.astro';

const publishedEntries = await getCollection('articles', ({ data }) => {
    return data.draft !== true;
});

publishedEntries.sort(function (a, b) {
    return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<SiteLayout>
    <title slot="head">Krzysztof Adamczak - wszystkie artykuły</title>
    <meta
        slot="head"
        name="description"
        content="Cześć, nazywam się Krzysztof Adamczak i zajmuję się budowaniem aplikacji internetowych. Pomogę Ci przekuć Twój pomysł w gotowy produkt."
    />
    <div class="flex flex-col gap-6">
        <h2 class="text-4xl font-extrabold">Artykuły</h2>
        <ArticlesList publishedEntries={publishedEntries} />
    </div>
</SiteLayout>
