<article id="_newsletter-body">
    <div
        id="_form-body"
        class="grid grid-cols-1 items-center lg:grid-cols-[auto,1fr] lg:gap-64"
    >
        <div class="flex flex-col gap-6">
            <h2 class="text-4xl font-extrabold">
                <span class="bg-neutral-950 px-3 py-1.5 text-neutral-50">Zapisz się</span> do newslettera
            </h2>
            <p class="prose prose-lg max-w-[80ch]">
                Celem tego bloga jest przekuwanie pomysłów w gotowe produkty. Poinformuję Cię, kiedy opublikuję nowy
                wpis a od czasu do czasu otrzymasz eklsuzywne treści których nie znajdziesz tutaj.
            </p>

            <p class="text-lg">Zero spamu. Możesz wypisać się w każdej chwili.</p>
            <div class="grid grid-cols-1 gap-6 md:grid-cols-[1fr,1fr,auto]">
                <label class="flex flex-col gap-2 font-bold">
                    Imię
                    <input
                        id="_firstName"
                        class="border border-neutral-400 p-2 font-normal"
                    />
                </label>
                <label class="flex flex-col gap-2 font-bold">
                    E-mail
                    <input
                        id="_email"
                        class="border border-neutral-400 p-2 font-normal"
                    />
                </label>
                <button
                    id="_newsletter"
                    class="h-[42px] w-full self-end bg-neutral-950 px-8 text-neutral-50 tn:w-max"
                    >Zapisz się</button
                >
            </div>
        </div>
    </div>
</article>

<script>
    const firstName = document.querySelector<HTMLInputElement>('#_firstName');
    const email = document.querySelector<HTMLInputElement>('#_email');
    const send = document.querySelector<HTMLButtonElement>('#_newsletter');
    const newsletterBody = document.querySelector<HTMLDivElement>('#_newsletter-body');
    const formBody = document.querySelector<HTMLDivElement>('#_form-body');

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    send?.addEventListener('click', async () => {
        const isNameEmpty = firstName?.value.length === 0;
        const isEmailInvalid = emailRegex.test(email?.value ?? '') === false;
        console.log('🚀 ~ send?.addEventListener ~ isEmailInvalid:', isEmailInvalid);
        console.log('🚀 ~ send?.addEventListener ~ isNameEmpty:', isNameEmpty);
        if (isNameEmpty || isEmailInvalid) return;
        console.log('🚀 ~ send?.addEventListener ~ isEmailInvalid:', isEmailInvalid);
        console.log('🚀 ~ send?.addEventListener ~ isNameEmpty:', isNameEmpty);
        const response = await fetch('https://kosmonavta.pl/api/krzysztofadamczak/newsletter', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                firstName: firstName?.value,
                email: email?.value,
            }),
        });

        const parsedResponse = await response.text();
        console.log('🚀 ~ send?.addEventListener ~ parsedResponse:', parsedResponse);

        // if (parsedResponse === 'subscribed') {
        const message = document.createElement('p');
        message.classList.add('text-3xl w-fit m-auto font-bold');
        message.textContent = 'Udało się!';
        newsletterBody?.appendChild(message);
        formBody?.remove();
        // }
    });
</script>
