<article id="_newsletter-body">
    <div
        id="_form-body"
        class="grid grid-cols-1 items-center lg:grid-cols-[auto,1fr] lg:gap-64"
    >
        <div class="flex flex-col gap-6">
            <h2 class="text-4xl font-extrabold">
                <span class="bg-neutral-950 px-3 py-1.5 text-neutral-50">Zapisz się</span> do newslettera
            </h2>
            <p class="prose prose-lg max-w-[80ch]">
                Programowanie jest dla mnie jak klocki LEGO. Możesz stworzyć co chcesz i jedyne co Cię ogranicza to
                Twoja wyobraźnia. Poinformuję Cię, kiedy opublikuję nowy wpis a od czasu do czasu otrzymasz eklsuzywne
                treści, których nie znajdziesz tutaj.
            </p>

            <p class="text-lg">Zero spamu. Możesz wypisać się w każdej chwili.</p>
            <div class="grid grid-cols-1 gap-6 md:grid-cols-[1fr,1fr,auto]">
                <label class="flex flex-col gap-2 font-bold">
                    Imię
                    <input
                        id="_firstName"
                        class="border border-neutral-400 p-2 font-normal"
                    />
                </label>
                <label class="flex flex-col gap-2 font-bold">
                    E-mail
                    <input
                        id="_email"
                        class="border border-neutral-400 p-2 font-normal"
                    />
                </label>
                <button
                    id="_newsletter"
                    class="h-[42px] w-full self-end bg-neutral-950 text-neutral-50 tn:w-36"
                >
                    Zapisz się
                </button>
                <div
                    id="_loader"
                    class="hidden h-[42px] w-full items-center justify-center self-end bg-neutral-950 tn:w-36"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="animate-spin stroke-neutral-50"
                        ><path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                        ></path><path d="M12 3a9 9 0 1 0 9 9"></path></svg
                    >
                </div>
            </div>
        </div>
    </div>
</article>

<script>
    const firstName = document.querySelector<HTMLInputElement>('#_firstName');
    const email = document.querySelector<HTMLInputElement>('#_email');
    const send = document.querySelector<HTMLButtonElement>('#_newsletter');
    const loader = document.querySelector<HTMLButtonElement>('#_loader');
    const newsletterBody = document.querySelector<HTMLDivElement>('#_newsletter-body');
    const formBody = document.querySelector<HTMLDivElement>('#_form-body');

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    send?.addEventListener('click', async () => {
        const isNameEmpty = firstName?.value.length === 0;
        const isEmailInvalid = emailRegex.test(email?.value ?? '') === false;

        if (isNameEmpty || isEmailInvalid) return;

        send.remove();
        loader?.classList.remove('hidden');
        loader?.classList.add('flex');

        const response = await fetch('https://kosmonavta.pl/api/krzysztofadamczak/newsletter', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                firstName: firstName?.value,
                email: email?.value,
            }),
        });

        const parsedResponse = await response.text();

        formBody?.remove();

        const message = document.createElement('p');
        message.classList.add('text-3xl', 'w-fit', 'm-auto', 'font-bold');

        if (parsedResponse === 'subscribed') {
            message.textContent = 'Udało się!';
        } else if (parsedResponse === 'error') {
            message.textContent = 'Wystąpił błąd, spróbuj ponownie później.';
        }

        newsletterBody?.appendChild(message);
    });
</script>
