---
import { Image } from 'astro:assets';
import finansoholikCover from '../images/finansoholik_cover.webp';
---

<section class="flex flex-col gap-12">
    <h2 class="text-4xl font-extrabold">Projekty</h2>

    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 3xl:grid-cols-3">
        <div class="relative grid items-start gap-8 bg-neutral-950 lg:aspect-square lg:gap-0">
            <Image
                loading="lazy"
                src={finansoholikCover}
                class="absolute z-0 h-full w-full self-center justify-self-center overflow-clip object-cover"
                alt="Zdjęcie przedstawiające autora"
            />
            <div class="z-10 grid h-full bg-neutral-950/90 p-10 backdrop-blur-[5px]">
                <p class="text-3xl font-black text-neutral-50">Finansoholik</p>
                <p class="prose prose-lg my-auto text-justify text-neutral-50">
                    Finansoholik to aplikacja, która ułatwi Ci zarządzanie własnym budżetem. Korzystając z niego możesz
                    pogrupować wpływy i wydatki według własnego pomysłu, wygenerować na ich podstawie szereg wykresów i
                    przeanalizować swoją sytuację finansową.
                </p>
                <a
                    href="https://app.finansoholik.pl"
                    class="ml-auto mt-auto w-fit bg-neutral-50 px-4 py-2 text-sm font-bold transition-colors hover:bg-neutral-200"
                    >Zobacz</a
                >
            </div>
        </div>
    </div>
</section>
