---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '@fontsource/mulish';
---

<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="sitemap"
            href="/sitemap-index.xml"
        />
        <slot name="head" />
        <ViewTransitions />
    </head>
    <body
        class="max mx-auto mb-32 mt-16 flex w-full max-w-full flex-col gap-16 px-8 text-neutral-900 sm:gap-32 xl:max-w-screen-lg 2xl:max-w-screen-xl 2xl:gap-52 3xl:max-w-screen-2xl ultra:max-w-screen-3xl"
    >
        <Navigation />
        <main class="flex flex-col gap-16 sm:gap-32 2xl:gap-52">
            <slot />
        </main>
        <Footer />
    </body>
</html>
